In [2]:
import numpy as np
import pandas as pd
from obspy import read
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import os
import random

In [3]:
cat_directory = './data/lunar/training/catalogs/'
cat_file = cat_directory + 'apollo12_catalog_GradeA_final.csv'
cat = pd.read_csv(cat_file)
cat

,filename,time_abs(%Y-%m-%dT%H:%M:%S.%f),time_rel(sec),evid,mq_type
0,xa.s12.00.mhz.1970-01-19HR00_evid00002,1970-01-19T20:25:00.000000,73500.0,evid00002,impact_mq
1,xa.s12.00.mhz.1970-03-25HR00_evid00003,1970-03-25T03:32:00.000000,12720.0,evid00003,impact_mq
2,xa.s12.00.mhz.1970-03-26HR00_evid00004,1970-03-26T20:17:00.000000,73020.0,evid00004,impact_mq
3,xa.s12.00.mhz.1970-04-25HR00_evid00006,1970-04-25T01:14:00.000000,4440.0,evid00006,impact_mq
4,xa.s12.00.mhz.1970-04-26HR00_evid00007,1970-04-26T14:29:00.000000,52140.0,evid00007,deep_mq
...,...,...,...,...,...
71,xa.s12.00.mhz.1974-10-14HR00_evid00156,1974-10-14T17:43:00.000000,63780.0,evid00156,impact_mq
72,xa.s12.00.mhz.1975-04-12HR00_evid00191,1975-04-12T18:15:00.000000,65700.0,evid00191,impact_mq
73,xa.s12.00.mhz.1975-05-04HR00_evid00192,1975-05-04T10:05:00.000000,36300.0,evid00192,impact_mq
74,xa.s12.00.mhz.1975-06-24HR00_evid00196,1975-06-24T16:03:00.000000,57780.0,evid00196,impact_mq
75,xa.s12.00.mhz.1975-06-26HR00_evid00198,1975-06-26T03:24:00.000000,12240.0,evid00198,impact_mq

In [4]:
row = cat.iloc[random.randint(0,len(cat))]
arrival_time = datetime.strptime(row['time_abs(%Y-%m-%dT%H:%M:%S.%f)'],'%Y-%m-%dT%H:%M:%S.%f')
arrival_time

datetime.datetime(1973, 3, 24, 19, 23)

In [5]:
# If we want the value of relative time, we don't need to use datetime
arrival_time_rel = row['time_rel(sec)']
arrival_time_rel

69780.0

In [6]:
# Let's also get the name of the file
test_filename = row.filename
test_filename

'xa.s12.00.mhz.1973-03-24HR00_evid00097'

In [7]:
data_directory = './data/lunar/training/data/S12_GradeA/'
csv_file = f'{data_directory}{test_filename}.csv'
data = pd.read_csv(csv_file)
data

       time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1973-03-24T00:00:00.606000       0.000000   2.654473e-15
1          1973-03-24T00:00:00.756943       0.150943   1.496578e-15
2          1973-03-24T00:00:00.907887       0.301887   4.665899e-16
3          1973-03-24T00:00:01.058830       0.452830   2.721695e-16
4          1973-03-24T00:00:01.209774       0.603774   9.075782e-16
...                               ...            ...            ...
572258     1973-03-24T23:59:39.172038   86378.566038  -2.532181e-16
572259     1973-03-24T23:59:39.322981   86378.716981  -3.512254e-16
572260     1973-03-24T23:59:39.473925   86378.867925  -4.041914e-16
572261     1973-03-24T23:59:39.624868   86379.018868  -5.447781e-16
572262     1973-03-24T23:59:39.775811   86379.169811  -8.253286e-16

[572263 rows x 3 columns]

In [8]:
print("Initial Data:")
print(data.head())

Initial Data:
  time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0     1973-03-24T00:00:00.606000       0.000000   2.654473e-15
1     1973-03-24T00:00:00.756943       0.150943   1.496578e-15
2     1973-03-24T00:00:00.907887       0.301887   4.665899e-16
3     1973-03-24T00:00:01.058830       0.452830   2.721695e-16
4     1973-03-24T00:00:01.209774       0.603774   9.075782e-16

In [9]:
print(data.info())  # Get information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572263 entries, 0 to 572262
Data columns (total 3 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   time_abs(%Y-%m-%dT%H:%M:%S.%f)  572263 non-null  object
 1   time_rel(sec)                   572263 non-null  float64
 2   velocity(m/s)                   572263 non-null  float64
dtypes: float64(2), object(1)
memory usage: 13.1+ MB
None

In [10]:
print(data.describe())  # Get descriptive statistics

       time_rel(sec)  velocity(m/s)
count  572263.000000   5.722630e+05
mean    43189.584906  -1.811964e-13
std     24935.583832   3.235005e-10
min         0.000000  -4.620258e-09
25%     21594.792453  -1.674875e-10
50%     43189.584906   2.145629e-13
75%     64784.377358   1.699761e-10
max     86379.169811   4.506163e-09

In [11]:
print("\nUnCleaned Column Names:")
print(data.columns)

UnCleaned Column Names:
Index(['time_abs(%Y-%m-%dT%H:%M:%S.%f)', 'time_rel(sec)', 'velocity(m/s)'], dtype='object')

In [12]:
data.columns = (data.columns
                 .str.strip()  # Remove leading/trailing whitespace
                 .str.replace(r'time_abs\(\%Y-\%m-\%dT\%H:\%M:\%S\.\%f\)', 'time_abs', regex=True)
                 .str.replace(r'time_rel\(sec\)', 'time_rel', regex=True)
                 .str.replace(r'velocity\(m/s\)', 'velocity_m_s', regex=True)
                 .str.replace(r'[-]', '_', regex=True)  # Replace dashes with underscores
                 .str.replace(r'\s+', '_', regex=True)  # Replace spaces with underscores
                 .str.replace(r'[()]', '', regex=True)  # Remove parentheses
                 .str.replace(r'[\%]', '', regex=True)  # Remove percentage signs
                )

In [13]:
print("\nCleaned Column Names:")
print(data.columns)

Cleaned Column Names:
Index(['time_abs', 'time_rel', 'velocity_m_s'], dtype='object')

In [14]:
# Strip any leading/trailing whitespace from the column names
data.columns = data.columns.str.strip()

# Alternatively, you can rename specific columns if needed
data.rename(columns={
    'time_abs(%Y-%m-%dT%H:%M:%S.%f)': 'time_abs',
    'time_rel(sec)': 'time_rel',
    'velocity_m_s': 'velocity(m/s)'
}, inplace=True)

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(data['time_abs'], data['velocity(m/s)'], label='Raw Velocity Data', alpha=0.6)
plt.xlabel('Time (UTC)')
plt.ylabel('Velocity (m/s)')
plt.title('Seismic Velocity Data')
plt.legend()
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.tight_layout()  # Adjust layout to make room for rotated labels
plt.show()

In [ ]:
from scipy.signal import butter, filtfilt

def highpass_filter(data, cutoff, fs, order=5):
    nyq = 0.5 * fs
    normal_cutoff = cutoff / nyq
    b, a = butter(order, normal_cutoff, btype='high', analog=False)
    y = filtfilt(b, a, data)
    return y

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(data['time_abs'], data['velocity(m/s)'], label='Raw Velocity Data', alpha=0.6)
plt.xlabel('Time (UTC)')
plt.ylabel('Velocity (m/s)')
plt.title('Seismic Velocity Data')
plt.legend()
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.tight_layout()  # Adjust layout to make room for rotated labels
plt.show()

In [ ]:
# Apply the highpass filter to the cleaned column name
fs = 10  # Sampling frequency (Hz) â€“ adjust based on your data
cutoff = 1.0  # Cut-off frequency (Hz)

data['filtered_velocity'] = highpass_filter(data['velocity(m/s)'], cutoff, fs)


plt.figure(figsize=(12, 6))
plt.plot(data['time_abs'], data['velocity(m/s)'], label='Raw Velocity Data', alpha=0.6)
plt.plot(data['time_abs'], data['filtered_velocity'], label='Filtered Velocity Data', linestyle='--')
plt.xlabel('Time (UTC)')
plt.ylabel('Velocity (m/s)')
plt.title('Seismic Velocity Data')
plt.legend()
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.tight_layout()  # Adjust layout to make room for rotated labels
plt.show()

In [ ]:
print("Initial Data:")
print(data.head())

# Step 1: Clean Column Names
data.columns = (data.columns
                 .str.strip()  # Remove leading/trailing whitespace
                 .str.replace(r'time_abs\(\%Y-\%m-\%dT\%H:\%M:\%S\.\%f\)', 'time_abs', regex=True)
                 .str.replace(r'time_rel\(sec\)', 'time_rel', regex=True)
                 .str.replace(r'velocity\(m/s\)', 'velocity_m_s', regex=True)
                 .str.replace(r'[-]', '_', regex=True)  # Replace dashes with underscores
                 .str.replace(r'\s+', '_', regex=True)  # Replace spaces with underscores
                 .str.replace(r'[()]', '', regex=True)  # Remove parentheses
                 .str.replace(r'[\%]', '', regex=True)  # Remove percentage signs
                )

# Display cleaned column names to debug
print("\nCleaned Column Names:")
print(data.columns)

# Step 2: Check if the cleaned column names contain the expected names
if 'time_abs' in data.columns:
    # Convert time_abs column to datetime
    data['time_abs'] = pd.to_datetime(data['time_absY-m-dTH:M:S.f'])
else:
    print("Column 'time_abs' not found after cleaning. Available columns are:")
    print(data.columns)

# Highpass Filter Function
def highpass_filter(data, cutoff, fs, order=5):
    nyq = 0.5 * fs  # Nyquist Frequency
    normal_cutoff = cutoff / nyq  # Normalized Cut-off Frequency
    b, a = butter(order, normal_cutoff, btype='high', analog=False)
    y = filtfilt(b, a, data)  # Apply the filter
    return y

# Step 3: Apply the highpass filter to the velocity data
fs = 10  # Sampling frequency (Hz) â€“ adjust based on your data
cutoff = 1.0  # Cut-off frequency (Hz)

if 'velocity_m_s' in data.columns:
    data['filtered_velocity'] = highpass_filter(data['velocitym/s'], cutoff, fs)

    # Step 4: Plotting
    plt.figure(figsize=(12, 6))
    plt.plot(data['time_abs'], data['velocitym/s'], label='Raw Velocity Data', alpha=0.6)
    plt.plot(data['time_abs'], data['filtered_velocity'], label='Filtered Velocity Data', linestyle='--')
    plt.xlabel('Time (UTC)')
    plt.ylabel('Velocity (m/s)')
    plt.title('Seismic Velocity Data')
    plt.legend()
    plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
    plt.tight_layout()  # Adjust layout to make room for rotated labels
    plt.show()
else:
    print("Column 'velocity_m_s' not found after cleaning.")